.lgc-bg {
    background-color: rgb(242, 242, 242);
}
.highlightButtonColor {
    background-color: #4CAF50 !important;
}
.highlightButtonColor1 {
    background-color: #4CAF50 !important;
}
.highlightButton {
    
    padding-left: 0px;
    padding-right: 0px
}
.slds-modal__container {
    width:  60% !important;
    max-width: 60% !important;
}

 
.firstPopup {
    width:  80% !important;
    max-width: 80% !important;
}
.slds-hint-parent{
    width: 5px;
}
.centerSpinner {
    width: 50px;
    height: 50px;
    display: block;
  }
/* slds-file-selector__button slds-button slds-button_neutral */
/*  */